export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=notifeye_dev

export APP_PORT=4000

export LOGZ_BASE_URL="some_random_url"
export LOGZ_API_KEY="some_random_api_key"
